@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

::after,
::before,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 100%;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.capservation-title {
    font-family: 'Marck Script', cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 79.94px;
    letter-spacing: 0%;
    color: #FFF;
}

.index-content-title {
    font-family: Lora;
    font-weight: 400;
    font-size: 96px;
    line-height: 122.88px;
    letter-spacing: 0%;
    color: #FFF;
}

.index-content-text {
    font-family: Lora;
    font-weight: 400;
    font-size: 40px;
    line-height: 51.2px;
    letter-spacing: 0%;
    color: #FFF;
}

img.tech-lines {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 400px;
}

img.person-tech {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
}

/* For webkit browsers */
::-webkit-scrollbar {
    width: 2px;
    /* Set the width for vertical scrollbar */
    height: 8px;
    /* Set the height for horizontal scrollbar */
}

/* For the scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* For the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
    overflow-y: scroll;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 999;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggle-btn i {
    font-size: 50px;
    color: #ffffff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

/* #sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 32px 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: 10px 26px;
    color: #FFF;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 17px;
    margin-right: 12px;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #ffffff;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    padding: 0;
    min-width: 240px;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 240px;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 24px;
    top: 22px;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
    top: 15px;
}

.navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

nav {
    transition: all .3s ease-out;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.card {
    border: none;
    margin-bottom: 30px;
}

/* .shadow {
    --bs-box-shadow: 0 0.3rem 1.5rem rgba(33, 37, 41, .1);
} */

.dash-icon {
    font-size: 30px;
}

#sidebar.expand a.sidebar-link span {
    margin-left: 10px;
}

.btn-circle {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.toast {
    --bs-toast-border-color: unset;
}

.toast .alert {
    --bs-alert-margin-bottom: unset;
}

.error-404 h1 {
    font-size: 120px;
}

.error-404,
.register-container,
.login-container {
    overflow-y: scroll;
    height: 100vh;
}

.stat-icon {
    width: 3rem;
    height: 3rem;
}


.stat-icon i {
    font-size: 2.25rem;
}

.stat-icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.stat-icon-shape i {
    font-size: 1.25rem;
}

.index-text-container {
    z-index: 6;
}

@media (min-width: 1280px) {
    .index-text-container {
        padding: 90px 0 0 200px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .index-text-container {
        padding: 70px 0 0 120px;
    }
}

.login-modal {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-modal h5,
.login-modal span,
.login-modal label {
    color: #fff;
}

.login-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.member-input-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    align-items: center;
    padding: 5px;
}

.member {
    background-color: #65ABEE;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.member .remove-member {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

.custom-select-container {
    position: relative;
    width: 100%;
}

.custom-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.custom-dropdown {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.custom-dropdown div {
    padding: 10px;
    cursor: pointer;
}

.custom-dropdown div:hover {
    background: #f8f9fa;
}

.hidden-select {
    display: none;
}

.bg-theme-primary {
    background-color: #012D6C;
}

.bg-img {
    /* background-image: url('/img/dashboard-img-bg.png') !important;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #9AE5F9;
}

/* History of Defense */
/* START TIMELINE 
 the width of the list parent is optional 
if you set this width 
A hover sample effect is added as well as an active state*/

.base-timeline {
    list-style-type: none;
    counter-reset: number;
    /* number 2021*/
    position: relative;
    display: block;
    z-index: 2;
    width: 75%;
    /* change or remove*/

}

.base-timeline::before {
    content: '';
    width: 100%;
    border-top: 2px solid #012D6C;
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: -1;

}

/* set width of time-line this can be px, percentage or other unit
3 is the number of list items minus 1 when using percentage
*/
.base-timeline__item {
    position: relative;
    display: inline-block;
    width: calc(100% / 2 - 15px);
    /* change width */
}

.base-timeline__item::before {
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: number;
    /* number -1*/
    content: counter(number) '';
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #012D6C;
    border: 2px solid #012D6C;
    font-weight: bold;
    transition: all 0.6s ease-in-out;
    box-sizing: border-box;
}

/* modifier with use of the data-year attribute */
.base-timeline__item--data::before {
    content: attr(data-year);
    width: 60px;
    height: 60px;
}

.base-timeline__item--active::before {
    background-color: #012D6C;
    color: #fff;
    border: 2px solid;
    border-color: #012D6C;
}

.base-timeline__item:last-child {
    width: 0;
}

.fc-daygrid-dot-event {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}